<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="frameT">
        <div class="frameTC">
            <div id="home-content">
          		<h1>WeatherOf</h1>
          		<form action="/" method="post">
          			<div class="form-group">
                			<input name="query" type="text" placeholder="Enter City" required="" class="form-control">
              		</div>
              		<button type="submit" class="btn btn-default">Get Weather</button>
          		</form>
              <% if(weather !== null){ %>

                <div id="weather-info">
                    <h2><%= weather.name %>, <%= weather.sys.country %></h2>
                    <h3><%= weather.main.temp.toFixed(2) %>°C</h3>
                    <div id="weather">
                      <% weather.weather.map(weather => { %>
                        <img src='http://openweathermap.org/img/w/<%= weather.icon %>.png'><span><%= weather.description %></span>
                      <% }) %>
                    </div>


                </div>
              <% } %>
              <% if(error !== null){ %>
                <p><%= error %></p>
              <% } %>
          		<a href="/queries" class="btn btn-default">View Queries</a>
    		    </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>







</html>
