<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <a href="/"> <button type="button" class="btn btn-info">Home</button></a>
      <table class="table">
        <thead>
          <tr>
            <th>Date Queried</th>
            <th>City, Country</th>
            <th>Temperature</th>
          <tr>
        </thead>
        <tbody>
            <% queries.map(query => { %>
              <tr>
                <td><%= query.date_queried %></td>
                <% if(query.results != null){ %> <!-- !== null is stricter and won't consider 'undefined' -->
                  <td><%= query.results.name %>, <%= query.results.sys.country %></td>
                  <td><%= query.results.main.temp.toFixed(2) %>°C</td>
                <% } %>

              <tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <!-- JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
