<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/" method="post">
      <input name="query" type="text" placeholder="Enter City" required/>
      <input type="submit" value="Get Weather">
    </form>

    <% if(weather !== null){ %>
      <div>
        <h2><%= city %>, <%= country %></h2>
        <h3>Temperature</h3>
          <p><%= temperature %> degrees<p>
        <h3>Weather</h3>
        <p><%= weather %></p>
        <h4>Description</h4>
        <p><%= weather_description %></p>
      </div>
    <% } %>
    <% if(error !== null){ %>
      <p><%= error %></p>
    <% } %>

    <br/><br/><a href="/api/queries">View Queries API</a>

  </body>
</html>
