<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table style="width:100%; text-align:left">
      <tr>
        <th><h2>Date Queried</h2></th>
        <th><h2>City</h2></th>
        <th><h2>Temp</h2></th>
      <tr>
      <% queries.map(query => { %>
        <tr>
          <td><%= query.date_queried %></td>
          <td><%= query.city_result %>, <%= query.country_result %></td>
          <td><%= query.temp_result %>°C</td>
        <tr>
      <% }) %>
    </table>
  </body>
</html>
